body{
  display: grid;
  place-items: center;
}

form{
  height: 250px;
  width: 250px;
  border-radius: 6px;
  background-color: oklch(98.6% 0.031 120.757);
  padding: 2rem;
}

button{
  width: 25px;
  height: 10px;
  color: oklch(97.7% 0.013 236.62);
  border: 0;
  background-color: oklch(48.8% 0.243 264.376);
}